{:duct.core/project-ns  duct-blog
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}

 :duct.module/ataraxy
 {[:get "/"] [:index]}

 [:duct.handler.static/ok :duct-blog.handler/index]
 {:body {:posts "/posts"}}}
